@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --colorBase: #000000;
    --colorFuente: #F6F6F6;
    --colorContraste: #22D4FD;

    --fuenteMontserrat: "Montserrat", sans-serif;
    --fuenteKrola: "Krona One", sans-serif;
}

*{    padding: 0;
    margin: 0;
}

body {
    background-color: var(--colorBase);
    color: var(--colorFuente);
   
    box-sizing: border-box;
}
.header{
    padding: 2% 0% 0% 15%;
}
.headerMenu{
    display: flex;
    gap: 80px;
}
.headerMenuLink{
    font-family: var(--fuenteMontserrat);
    font-size: 1.5rem;
    color: var(--colorContraste);
    font-weight: 600;
    text-decoration: none;
}

h1 {
    text-align: left;
  }
.tituloDestaque{
    color: var(--colorContraste);
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;
}
.contenidoPresentacion{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.tituloPresentacionContenido{
    font-size: 2.25rem;
    font-family: var(--fuenteKrola);
}
.parrafoContenidoPresentacion{
    font-size: 1.5rem;
    font-family: var(--fuenteMontserrat);
}
.presentacionEnlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.presentacionEnlacesLink{
    width: 50%;
    color: var(--colorFuente);
    background-color:var(--colorBase);
    border: 2px solid var(--colorContraste);
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-family: var(--fuenteMontserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.presentacionEnlacesSubtitulo{
    font-family: var(--fuenteKrola);
    font-size: 1.5rem;
    font-weight: 400
    ;
}
.presentacionEnlacesLink:hover{
    background-color: #272727;
    border: 3px solid var(--colorFuente);
    font-size: 28px;
    padding: 3%;
    color: var(--colorContraste);
}
.presentacionImagen{
    width: 50%;
}

.footer{
    background-color: var(--colorContraste);
    color: var(--colorFuente);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fuenteMontserrat);
    font-size: 1.5rem;
    font-weight: 400;
}
@media (max-width: 1200px) {
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .header{
        padding: 10% 10% 10% 10%;
    }
    .headerMenu{
        justify-content: center;
    }
    .contenidoPresentacion{
        width: auto;
    }
    .presentacionImagen{
        width:100%:
    }
}
